/*
Theme	Name:	rookie	extension
Theme	URI:	
Dexcription:	This	is	a	child	theme	of	rookie
Author:	qcourvoisier
Author	URI:	
Template:	rookie
version:	0.1
*/
@import	url("../rookie/style.css");

body.custom-background{
    background-attachment: fixed!important; 
}

.event{
    background-color: #c81d2a;
}

.sp-table-caption{
    border-top : 8px solid #c81d2a;
}

.main-navigation .nav-menu > li:hover > a{
    background: #c81d2a;
}